@tailwind base;
@tailwind components;
@tailwind utilities;


.light .backgroundClr {
  background-color:hsl(0, 0%, 98%);
}

.light *:not(.backgroundClr){
  color: hsl(200, 15%, 8%);
  background-color:white;
}

.light input{
  color:hsl(0, 0%, 52%);
}

.dark *:not(.backgroundClr){
  color: white;
  background-color:hsl(209, 23%, 22%);
}

.dark .backgroundClr {
  background-color:hsl(207, 26%, 17%);
}