@tailwind base;
@tailwind components;
@tailwind utilities;


.light .backgroundClr {
  background-color:hsl(0, 0%, 98%);
}

.light *:not(.backgroundClr){
  color: hsl(200, 15%, 8%);
  background-color:white;
}

.light input{
  color:hsl(0, 0%, 52%);
}

.light .allBgClr,
.light .allBgClr div,
.light .allBgClr img,
.light .allBgClr h2,
.light .allBgClr p{
  background-color:hsl(0, 0%, 98%);
}

html.light{
  background-color:hsl(0, 0%, 98%);
}

.dark *:not(.backgroundClr){
  color: white;
  background-color:hsl(209, 23%, 22%);
}

.dark .backgroundClr {
  background-color:hsl(207, 26%, 17%);
}

.dark .allBgClr,
.dark .allBgClr div,
.dark .allBgClr img,
.dark .allBgClr h2,
.dark .allBgClr p{
  background-color:hsl(207, 26%, 17%);
}

html.dark{
  background-color:hsl(207, 26%, 17%);
}